@media (min-width: $desktop-min-width) {
  .center-wrapper {
    width: 60%;
    min-width: 900px;
  }

}

@media (max-width: $tablet-max-width) {
  .center-wrapper {
    width: calc(100% - 42px);
  }
}

@media (max-width: $mobile-max-width) {
  .center-wrapper {
    width: calc(100% - 24px);
  }
}
