.countries__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
}

.countries__item {
  list-style: none;
}

.countries__item h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.415px;
  color: rgba(44, 46, 63, 0.3);
}

.countries__item--active h3 {
  color: $accent-color;
}

.countries {
  width: 78%;
}

.countries__modal {
  display: none;
}

.countries__modal--active {
  display: flex;
}

.countries__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100500;
  width: 728px;
  height: 444px;
  background: $light-color;
}

.countries__modal-img-wrapper {
  width: 46.4%;
}

.countries__modal__wrapper {
  width: 53.6%;
  position: relative;
}

.countries__modal-img-wrapper img {
  width: 100%;
}

.countries__modal__any-quest {
  margin: 0;
  margin-top: 72px;
  margin-bottom: 50px;
}

.countries__modal_inner-wrapper {
  width: calc(100% - 120px);
  margin: 0 auto;
}

.countries__modal__phone,
.countries__modal__email {
  margin-bottom: 20px;
}

.countries__modal-close {
  position: absolute;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: none;
  left: 100%;
  transform: translate(-42px, 20px);
  padding: 0;
}


@media (min-width: $desktop-min-width) {
  .countries__item {
    cursor: pointer;
  }

  .countries__item:hover h3 {
    color: $accent-color;
    transition: all $transition-time $transition-function;
  }

}

@media (max-width: $tablet-max-width) {
  .countries {
    width: 100%;
  }

  .countries__list {
    width: calc(100% - 38px * 2);
    margin: 0 auto;
    overflow-x: scroll;
  }

  .countries__list>li:not(:first-child) {
    margin-left: 80px;
  }
}

@media (max-width: $mobile-max-width) {
  .countries__list {
    width: calc(100% - 16px * 2);
  }

  .countries__modal {
    width: 100%;
    height: 568px;
  }

  .countries__modal-img-wrapper {
    display: none;
  }

  .countries__modal__wrapper {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .countries__modal__wrapper .countries__modal__any-quest {
    line-height: 43px;
    margin-top: 100px;
  }

  .countries__modal_inner-wrapper {
    width: 100%;
  }
}
