.page-header__nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  mix-blend-mode: normal;
  text-decoration: none;
}

.page-header__contact span,
.page-header__nav a,
.page-header__contact svg {
  transition: all $transition-time $transition-function;
}

.page-header__travel-link {
  color: $very-dark-color;
}

.page-header__price-link {
  color: $accent-color;
}

.page-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 34px auto 34px;
}

.page-header__nav-wrapper {
  display: flex;
  align-items: center;
}

.page-header__contact {
  text-decoration: none;
  display: flex;
}

.page-header__contact span {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: $accent-color;
  text-decoration: underline;
}

.page-header__nav {
  display: flex;
  min-width: 200px;
  margin-right: 46px;
}

.page-header__nav>a:not(:last-child) {
  margin-right: 40px;
}

.page-header__contact svg {
  fill: none;
  margin-right: 11px;
}

.page-header__bottom {
  position: relative;
}

.page-header__banner {
  position: absolute;
  top: 21%;
  left: 56%;
  width: 412px;
}

.page-header__banner p {
  margin: 0;
  color: $white-color;
}

.page-header__banner .page-header__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  margin-bottom: 30px;
}

.page-header__banner .page-header__desc {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.466667px;
  margin-bottom: 35px;
}

.page-header__tour-link {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.page-header__tour-link svg {
  fill: none;
}

@media (max-width: 1130px) {
  .page-header__banner {
    top: 7%;
  }
}

@media (min-width: $desktop-min-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header__travel-link:hover {
    color: $accent-color;
  }

  .page-header__price-link:hover,
  .page-header__contact:hover span {
    color: $very-dark-color;
  }

  .page-header__contact:hover svg {
    fill: $very-dark-color;
  }
}

@media (max-width: $tablet-max-width) {
  .page-header__top {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  .page-header__logo {
    margin-left: 21px;
    width: 44px;
    height: 17px;
  }

  .page-header__contact {
    display: none;
  }

  .page-header__nav {
    width: 100%;
  }

  .page-header__nav>a:not(:last-child),
  .page-header__nav {
    margin-right: 0;
  }

  .page-header__nav-wrapper {
    display: none;
    width: 320px;
    min-height: 568px;
    position: absolute;
    background-color: $white-color;
    z-index: 22;
    top: 0;
    right: 0;
  }

  .page-header__nav-wrapper--open,
  .page-header__nav {
    display: block;
  }

  .page-header__toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 0;
    z-index: 33;
    width: 72px;
    height: 50px;
    background-image: url("../img/icon-burger.svg");
    background-color: $accent-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-header__toggle--close {
    background-image: url("../img/icon-close.svg");
    background-color: $white-color;
    width: 22px;
    height: 22px;
    transform: translate(-14px, 15px);
  }

  .page-header__nav a {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    background-color: $light-color;
    color: #48494d;
    padding: 17px 0 17px 16px;
    text-align: left;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 12px;
      background: url("../img/icon-arrow-more.svg");
      background-position: center;
      background-repeat: no-repeat;
      right: 0;
      transform: translate(-25px, 5px);
    }
  }

  .page-header__travel-link {
    margin-top: 134px;
  }

  .page-header__nav>a:not(:last-child) {
    margin-bottom: 30px;
  }

  .page-header__nav-wrapper--nojs {
    position: relative;
    width: 100%;
    min-height: auto;
  }

  .page-header__nav-wrapper--nojs .page-header__travel-link {
    margin-top: 20px;
  }

  .page-header__banner {
    width: 398px;
    left: 48.5%;
    top: 17%;
    transform: translateX(-50%);
  }

  .page-header__banner .page-header__title {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 15px;
  }

  .page-header__banner .page-header__desc {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 11px;
    letter-spacing: -0.466667px;
  }

  .page-header__tour-link {
    margin-left: 86px;
    width: 250px;
    box-sizing: border-box;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header__logo {
    margin-left: 16px;
  }

  .page-header__toggle {
    width: 50px;
  }

  .page-header__banner {
    width: 90%;
    top: 34%;
  }

  .page-header__banner .page-header__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 35.4%;
  }

  .page-header__banner .page-header__desc {
    color: $dark-color;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .page-header__tour-link {
    width: 100%;
    margin-left: 5px;
  }

}

@media (min-width: 321px) and (max-width: $mobile-max-width) {
  .page-header__banner {
    top: 46%;
  }
}

@media (min-width: 585px) and (max-width: $mobile-max-width) {
  .page-header__banner {
    top: 50%;
  }
}
