.page-header__nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $very-dark-color;
  mix-blend-mode: normal;
  text-decoration: none;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 39px auto;
}

.page-header_nav-wrapper {
  display: flex;
  align-items: center;
}

.page-header__contact {
  text-decoration: none;
  display: flex;
}

.page-header__contact span {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: $accent-color;
  text-decoration: underline;
}

.page-header__nav {
  display: flex;
  min-width: 200px;
  margin-right: 57px;
}

.page-header__nav > a:not(:last-child) {
  margin-right: 40px;
}

.page-header__contact svg {
  fill: none;
  margin-right: 11px;
}
