.page-footer h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $dark-color;
  margin: 0;
  margin-bottom: 15px;
}

.page-footer__travels-list a,
.page-footer__corporative p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5);
  text-decoration: none;
}

.page-footer__travels-col a:not(:last-child) {
  margin-bottom: 4px;
}

.page-footer__post-tablet {
  display: none;
}

.page-footer__post-desktop {
  display: inline;
}

.page-footer__travels-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  min-height: 138px;
}

.page-footer__contacts a {
  font-size: 14px;
  line-height: 17px;
  color: $accent-color;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.page-footer__contacts-phone {
  fill: none;
  stroke: $main-add-color;
}

.page-footer {
  margin: 0 auto;
  display: flex;
  padding-top: 15px;
}

.page-footer__travels {
  border-right: 1px solid $main-add-color;
  box-sizing: border-box;
}


.page-footer section {
  flex-basis: 33.3%;
}

.page-footer .page-footer__travels {
  flex-basis: 34%;
}


.page-footer__corporative h2 {
  margin-bottom: 20px;
}

.page-footer__contacts {
  border-right: 1px solid $main-add-color;
}

.page-footer__contacts a:not(:last-child) {
  margin-bottom: 18px;
}

.page-footer__contacts span {
  text-decoration: underline;
  word-break: break-word;
}

.page-footer__contacts svg {
  margin-right: 14px;
}

.page-footer__contacts h2 {
  margin-bottom: 20px;
}

.page-footer__contacts-wrapper {
  width: 68%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 33px;
}

.page-footer .page-footer__corporative {
  flex-basis: 28%;
  margin-left: 53px;
}

@media (max-width: $tablet-max-width) {
  .page-footer {
    padding-top: 80px;
    flex-wrap: wrap;
  }

  .page-footer__post-tablet {
    display: inline;
  }

  .page-footer__post-desktop {
    display: none;
  }

  .page-footer .page-footer__travels {
    flex-basis: 54%;
  }

  .page-footer .page-footer__contacts {
    flex-basis: 44%;
    border: none;
  }

  .page-footer__contacts-wrapper {
    width: auto;
    margin-left: 53px;
    margin-right: 0;
  }

  .page-footer .page-footer__corporative {
    flex-basis: 100%;
    margin: 0;
    text-align: center;
    margin-top: 22px;
    padding-top: 29px;
    border-top: 1px solid $main-add-color;
  }
}

@media (max-width: $mobile-max-width) {
  .page-footer {
    display: block;
  }

  .page-footer__travels {
    border-right: none;
    border-bottom: 1px solid $main-add-color;
  }

  .page-footer__travels-list {
    min-height: auto;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .page-footer__travels-list a {
    flex-basis: 2em;
    text-align: center;
  }

  .page-footer__travels-col {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .page-footer h2 {
    text-align: center;
  }
  .page-footer .page-footer__travels {
    padding-bottom: 13px;
  }

  .page-footer .page-footer__contacts {
    margin-top: 30px;
  }

  .page-footer__contacts-wrapper {
    margin-left: 0;
    align-items: center;
  }

  .page-footer .page-footer__corporative {
    margin-top: 17px;
  }
}
