.places__text-wrapper h2 {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $dark-color;
  margin: 0;
  margin-bottom: 64px;
  position: relative;
}

.places {
  margin: 0 auto;
  margin-top: 198px;
  margin-bottom: 240px;
}

.places__desc {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
  margin: 0;
}

.places__list-item>a {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;
  text-decoration: none;
  color: $dark-color;
  background-color: $white-color;
  display: block;
  width: 251px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.places__list>li {
  list-style: none;
  flex-basis: 29%;
  min-height: 430px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  margin-bottom: 100px;
}

.places__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -43px;
}

.places__text-wrapper {
  width: 358px;
  margin-bottom: 56px;
}

.places__greece {
  background-image: url("../img/places-greece@1x.jpg");
}

.places__albany {
  background-image: url("../img/places-albany@1x.jpg");
}

.places__makedonia {
  background-image: url("../img/places-makedonia@1x.jpg");
}

.places__chernogoria {
  background-image: url("../img/places-chernogoria@1x.jpg");
}

.places__chroatia {
  background-image: url("../img/places-chroatia@1x.jpg");
}

.places__overlay {
  display: none;
  background: rgba(20, 21, 23, 0.6);
  transition: all $transition-time $transition-function;
}

.places__list-item-link:focus + .places__overlay {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: $desktop-min-width) {
  .places__text-wrapper h2::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 228px;
    background: $accent-color;
    top: 117%;
    left: 0;
  }

  .places__list>li {
    cursor: pointer;
    position: relative;
  }

  .places__overlay>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white-color;
    padding: 28px 23px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    margin: 0 auto;
  }

  .places__list-item:hover .places__overlay {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


}

@media (max-width: $tablet-max-width) {
  .places {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .places__text-wrapper {
    width: 343px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .places__text-wrapper h2 {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;
  }

  .places__desc {
    text-align: center;
  }

  .places__list {
    width: calc(100% - 49px);
    margin-left: 21px;
    margin-bottom: 60px;
  }

  .places__list>li {
    flex-basis: 288px;
    min-height: 425px;
    margin-bottom: 30px;
  }

  .places__list a {
    width: 215px;
  }
}

@media (max-width: $mobile-max-width) {
  .places {
    margin-top: 303px;
  }

  .places__text-wrapper h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .places__text-wrapper {
    width: 288px;
    margin-bottom: 20px;
  }

  .places__list {
    margin: 0 auto;
    width: 100%;
  }
}

.places__item-lazy {
  background-image: none;
}

.places__item-lazy--greece {
  background-color: $greece-main-color;
}

.places__item-lazy--albany {
  background-color: $albany-main-color;
}

.places__item-lazy--makedonia {
  background-color: $makedonia-main-color;
}

.places__item-lazy--chernogoria {
  background-color: $chernogoria-main-color;
}

.places__item-lazy--chroatia {
  background-color: $chroatia-main-color;
}
