@import "./font.scss";
@import "./common.scss";
@import "./variables.scss";
@import "./normalize.scss";


//Blocks

@import "./blocks/page-header.scss";
@import "./blocks/center-wrapper.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/places.scss";
